body{
    font-family: Roboto, 'Open Sans', Ubuntu, 'Segoe UI', Oxygen, 'Helvetica Neue', sans-serif
}

.template-footer {
    height: 200px;
}

.bg-tertiary{
    background-color: #1877F2;
}

@media (max-width: 768px) {
    #subject-title{
        font-size: 28px;
    }

    #subject-course, #subject-teacher{
        font-size: 18px;
    }
}
